:root {
	--theme-dark-0: #121212;
	--theme-dark-1: #2f2f2f;

    --theme-light-1: #656565;
	--theme-light-0: #cecece;
	
	--theme-accent-blue: #6682f2;
	--theme-accent-green: mediumseagreen;
	--theme-accent-purple: #551955;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.hide-until-enabled:not(.enabled) {
	display: none !important;
}

.flex-fill-space {
    flex-grow: 1;
}

.backdrop-filter {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -999;
    filter: blur(5px);
    background-image: url('/images/background-morgantown-1.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}