    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    main {
        font-family: 'arial';
        text-align: center;
        flex-grow: 1;
        overflow-y: scroll;
    }
    
    p {
        color: black;
    }
    
    h3 {
        font-size: 20pt
    }
    
    .about {
        background-color: rgba(133, 126, 126, 0.8);
        padding: 8px;
        border-radius: 16px;
        margin: 10px;
    }
    
    img {
        height: 200px;
        width: 300px;
        object-fit: contain;
    }
    
    .column {
        margin-right: 16px;
        margin: 10px;
        width: 22%;
        float: left;
    }
    
    .card {
        box-shadow: 0px 4px 8px 0px #b3b3b3f5;
        padding: 0 16px 0 16px;
        border-radius: 32px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 50%;
        display: block;
    }