body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}


main
{
	flex-grow: 1;		
	overflow-y: scroll;
}

.header-card {
	margin-left: calc(50vw/2);
	margin-bottom: 10px;
	margin-top: 10px;
    box-shadow: 0px 4px 8px 0px #b3b3b3f5;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    max-width: 500 px;
    height: auto;
    padding: 5px;
}

.inner-div {
    background: rgba(201, 201, 201, 0.767);
    background-position: center;
    background-size: cover;
    border-radius: 32px;
	text-align: center;
	padding: 5px;

}

.header-card p {
    color: rgb(97, 97, 97);
	text-align: left;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}
.comment-section {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	width: 1000px;
	margin-left: calc(50vw - 500px);
	box-shadow: 0px 4px 8px 0px #b3b3b3f5;
	padding: 1px 16px 1px 16px;
	border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.8);
}

.comment {
	transform: translateY(4px);
}

.comment:not(:first-of-type) {
	margin-top: 4px;
}

.comment-tray {
	display: flex;
	flex-flow: column;
	padding: 16px;
}

.comment-content {
	background-color: #5c5c5c;
	padding: 16px;
	overflow: hidden;
	color: #cecece;
	border-radius: 16px;
	box-shadow: 4px 4px 6px #070707;
}

.comment-content > header {
	display: flex;
	column-gap: 16px;
	align-items: center;
}

.rating-container {
	text-align: center;
}

.rating {
	display: block;
	font-weight: bold;
	font-size: 1.05rem;
	color: #999;
}

.rating-container > a, .user-action-menu-link, .user-action-menu > a {
	text-decoration: none;
	color: #999;
}

.comment[data-vote-state="upvote"] > .comment-content > header > .rating-container > .upvote {
	color: #6682f2;
}

.comment[data-vote-state="downvote"] > .comment-content > header > .rating-container > .downvote {
	color: #6682f2;
}

.profile-picture {
	width: 40px;
	height: 40px;
	clip-path: circle(50% at center);
}

.comment-user {
	display: block;
	text-decoration: none;
	color: #6682f2;
	font-size: 1.1rem;
}

.comment-time {
	color: darkgray;
}

.user-role-indicator {
	color: white;
	padding: 6px;
	border-radius: 12px;
	font-size: 0.8rem;
	font-weight: bold;
	align-self: flex-start;
	margin-top: 6px;
}

.user-role-indicator[data-role="resident"] {
	background-color: #551955;
}

.comment-header-space {
	flex-grow: 1;
}

.user-action-menu-link {
	align-self: flex-start;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.8rem;
	cursor: pointer;
	width: 32px;
	text-align: center;
}

.user-action-menu {
  background-color: #595959;
  box-shadow: 4px 4px 6px #171717;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 24px;
  top: 32px;
}

.user-action-menu > a + a {
	display: block;
	margin-top: 12px;
}

.comment-text {
	margin: 10px;
	font-size: 1.2rem;
}

.comment-reply-panel {
	color: #cecece;
}

.comment-reply-field {
	width: 100%;
	border: none;
	padding: 12px;
	word-break: break-all;
	background-color: #9d9d9d;
	border-radius: 24px;
	display: block;
	outline: none;
	resize: none;
	font-family: calibri;
	font-size: 1rem;
	margin-top: 15px;
}

.comment-reply-field:empty:before {
	display: block;
	position: relative;
	content: 'Post a reply...';
	top: calc(50% - 0.5em);
}

.comment-reply-panel-controls button {
	border: none;
	padding: 12px;
	background-color: green;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.8rem;
	display: inline;
	outline: none;
	height: 40px;
	float: right;
}

.reply-tray:not(:empty) {
	padding-left: 32px;
	margin-left: 16px;
	border-left: 4px solid #6682f2;
	border-bottom: 4px solid #6682f2;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 40px; /* just to hide lower right corner */
}

.info {
	font-style: italic;
	color: #535353;
}

.user-mention {
	color: #6682f2;
}

.user-mention-autocomplete-tray .option {
	align-items: center;
	column-gap: 10px;
	padding: 12px;
}

h3 {
    color: black;
}

