body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px;
}

.global-header {
	display: flex;
	column-gap: 16px;
	background-color: #343a40;
	padding: 16px;
    align-items: center;
}

.global-header .nav-link {
    color: #999c9f;
    text-decoration: none;
}

.global-header .header-logo {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 16px;
}

.notification {
    flex-direction: column;
    align-items: baseline;
    text-decoration: none;
    padding: 20px;
    row-gap: 6px;
}

.notification-tray {
    right: 16px;
    top: 32px;
    max-height: 400px;
    overflow-y: scroll;
}

.notification-title {
    font-size: larger;
    color: var(--theme-accent-green);
}

.notification-desc {
    color: #b5b5b5;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 40ch;
    word-break: break-all;
}