body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px;
}

.global-header {
	display: flex;
	column-gap: 16px;
	background-color: #343a40;
	padding: 16px;
    align-items: center;
}

.global-header .nav-link {
    color: #999c9f;
    text-decoration: none;
}

.global-header .header-logo {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 16px;
}

.notification {
    flex-direction: column;
    align-items: baseline;
}