/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	  height: 94%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Search Div*/
#searchApp.searchApp {
	height: 40px;
	width: 100%;
	position: absolute;
	z-index: 15;
}

#searchBar.searchBar {
	width: 100%;
	font-size: 1rem;
}

#searchBar .search-bar-wrapper {
	width: 100%;
	background-color: #f4f4f4;
	height: 3.5rem;
	border-bottom: 1px solid #ccc;
	z-index: 30;
	position: relative;
	padding: 10px 12px 10px 12px;
}

#searchBar .search-bar-wrapper .lookup {
	position: relative;
	float: left;
	margin-right: 0;
}

#searchBar .search-bar-wrapper .lookup .searchBarLookup {
	color: #4c4c4c;
	font-family: "CostarBrownLight", sans-serif;
	position: relative;
	padding: 6px 30px 7px 10px;
	border: 1px solid #ccc;
	font-size: 1rem;
	height: 35px;
	width: 430px;
	border-radius: 3px;
	margin-right: 12px;
	outline: none;
	transition: all .1s ease-in-out;
}

#searchBar .search-bar-wrapper .lookup .search-submit {
	height: 35px;
	line-height: 2rem;
	font-size: 1rem;
	width: 5rem;
	display: block;
	float: right;
	background-color: #121212;
	color: #fff;
	text-align: center;
	border-radius: 0.25rem;
}
