#map {
    height: 90%;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

.info {
    text-align: center;
    padding: 3%;
}

#searchApp.searchApp {
    height: 100%;
    width: 100%;
}

#searchBar.searchBar {
    width: 100%;
    font-size: 1rem;
}

#searchBar .search-bar-wrapper {
    width: 100%;
    background-color: #f4f4f4;
    height: 3.5rem;
    border-bottom: 1px solid #ccc;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(204,204,204);
    z-index: 30;
    position: relative;
    padding: 10px 12px 10px 12px;
        padding-top: 10px;
        padding-right: 12px;
        padding-bottom: 10px;
        padding-left: 12px;
}

#searchBar .search-bar-wrapper .lookup {
    position: relative;
    float: left;
    margin-right: 0;
}

#searchBar .search-bar-wrapper .lookup .searchBarLookup {
    color: #4c4c4c;
    font-family: "CostarBrownLight", sans-serif;
    position: relative;
    padding: 6px 30px 7px 10px;
        padding-top: 6px;
        padding-right: 30px;
        padding-bottom: 7px;
        padding-left: 10px;
    border: 1px sold #ccc;
        border-top-color: rgb(204,204,204);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(204,204,204);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(204,204,204);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(204,204,204);
        border-left-style: solid;
        border-left-width: 1px;
    font-size: 1rem;
    height: 35px;
    width: 430px;
    border-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    margin-right: 12px;
    outline: none;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
    transition: all .1s ease-in-out;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
}

.backdrop-filter {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: blur(5px);
    background-image: url('/images/background-morgantown-1.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}